/*

Cascading Style Sheet for www.zaqirvirani.com
Written by Zaqir Virani

*/


/* BODY AND FONT ---------------------------------------------------------------------------------------------------------------------------- BODY and FONT */

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}

@font-face {
    font-family: Raleway-ExtraLight;
    src: url(fonts/Raleway-ExtraLight.otf);
}

/* Scroll HEADER   -----------------------------------------------------------------------------------------------------------SCROLLING RESIZEABLE NAV */



header {
    width: 100vw;
    height: 0vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-image:none;
	-moz-background-size: cover;
-webkit-background-size: cover;
background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat; 
background-attachment: relative;
overflow:hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

ul#nav {
   list-style-type: none;
   display:inline;
}
li#nav {
   float: right;
   padding-right: 1em;
   font-family:Raleway-ExtraLight;
   font-size: 100%;
   display:block;
   color:#FFFFFF;
   opacity: 0.6;
}
 
 
header h1#logo {
    display: inline-block;
    height: 0vh;
    line-height: 20vh;;
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 300%;
    color: #828282;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	margin-top: 2em;
}
header nav {
    display: inline-block;
    float: right;
	padding-right: 1em;
}
header nav a {
    line-height: 120px;
    color: white;
    font-weight: 700;
    font-size: 100%;
	padding-right: 0.5em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
header nav a:hover {
    color: white;
}
header.smaller {
    height: 4vh;
	background:rgba(0,0,0,0.8);
	
}
header.smaller h1#logo {
    width: 50vw;
    height: 8vh;
    line-height: 8vh;
    font-size: 1.5vw;
}
header.smaller nav a {
    line-height: 4vh;
	font-weight: lighter;
	font-size: 1.5vw;
	color: #B2B2B2;

}

header.smaller nav a:hover {
   color:#FFFFFF;
   opacity: none;

}

@media all and (max-width: 60px) {
    header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    header nav {
        display: block;
        float: none;
        height: 50px;
        text-align: center;
        margin: 0 auto;
    }
    header nav a {
        line-height: 50px;
        margin: 0 10px;
    }
    header.smaller {
        height: 75px;
    }
    header.smaller h1#logo {
        height: 40px;
        line-height: 40px;
        font-size: 30px;
    }
    header.smaller nav {
        height: 35px;
    }
    header.smaller nav a {
        line-height: 35px;
    }
}

		
/*  MAIN PAGE - BULK DIV, TITLE, LINKS, NAV   --------------------------------------------------------------------------------LANDING PAGE STYLING  */


div#placeholding {
width:99.9vw;
height:75vh;
background-image:url(images/3.jpg);
-moz-background-size: cover;
-webkit-background-size: cover;
background-size:cover; 
background-position:center center; 
background-repeat:no-repeat; 
background-attachment: relative;
overflow-y:hidden;
}

div #buttonrow {

padding-right: 3vw;
margin-top: -4em;

}

img.landingbuttons {

width: 3vw;
float: right;
padding-right: 1em;
opacity: 0.5;

}
img#yo {
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
filter: grayscale(0%);
}
img#yo:hover {
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
}





div#navbar {

width:100vw;
height:25vh;
background-color: #FFFFFF;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat; 
background-attachment: relative;
overflow:hidden;
text-align: center;
overflow-y:hidden;
opacity: 0.6;
}

/* Second Page w/ Featured Grid */

div#navbar p {

width: 100vw;
font-size: 3vw;
font-weight: bold;
margin-top: 6vh;
font-family: Raleway-ExtraLight;
color: black;

}

div#tagline {
width:100vw;
background-color: #006633;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat; 
background-attachment: relative;
overflow:hidden;
overflow-y:hidden;
opacity: 0.8;
}

div#tagline p {

width: 100vw;
font-size: 120%;
padding-left: 2em;
padding-right: 2em;
margin-top: 5vh;
margin-bottom: 5vh;
font-family: Raleway-ExtraLight;
color: #FFFFFF;

}

div#work {

width: 100vw;
background-color: #FFFFFF;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat; 
background-attachment: relative;
overflow:hidden;
display: block;
}

table { 
    border-spacing: 0;
    border-collapse: collapse;
}
td {
    padding:0px;
}
td img {
    display:block;
}

img#yo: hover {

opacity: 0.3;
}

h1 {  
font-family:Raleway-ExtraLight;
color: #FFFFFF;
font-size: 200%;
margin-top: 5vh;
margin-left: 1.5em;

}

h2 {
font-family:Raleway-ExtraLight;
color: #FFFFFF;
font-size: 100%;
font-weight: lighter;
margin-left: 2em;
}

a:link {
color:#FFFFFF;
text-decoration: none;
}

a:visited {
color:#FFFFFF;
}

/* Folio   ----------------------------------------------------------------------------------------------------------------------DYNAMIC PORTFOLIO GALLERY  */

h6 {

     font-family: Raleway-ExtraLight;
	 font-weight: lighter;
	 color: #323232;
	 font-size: 2vw;
	 padding-top: 1em;
	 padding-bottom: 1em;
	 opacity: 0.9;
	 background-color: #FFFFFF;
}

.grid {
    width: 100vw;
    list-style: none;
	float:left;
	background-color: #FFFFFF;
	margin-left: 0;
	margin-right: 0;
}


 
.grid li {
    display: inline-block;
    width: 33vw;
    margin: 0;
	padding: 0;
    position: relative;
}


li.featured {

padding-right: 0;
margin-right: 0;
}

.grid figure {
    margin: 0;
    position: relative;
	overflow: hidden;
}

.grid figure img {
    max-width: 100%;
    position: relative;
	overflow: hidden;
}

.grid figcaption {
    position: absolute;
	 font-family: Raleway-ExtraLight;
	 font-weight: lighter;
    top: 0;
    left: 0;
    padding: 2px;
	background:rgba(0,0,0,0.8);

}

.grid figcaption h4 {
    margin: 0;
	 font-weight: lighter;
    padding-bottom: 1em;
	 font-family: Raleway-ExtraLight;
    color: #fff;
	
}
 
.grid figcaption span:before {
    color: #FFFFFF;
}
 
.grid figcaption a {
    text-align: center;
	 font-family: Raleway-ExtraLight;
	 font-weight: lighter;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #339933;
    color: #fff;

}

@media screen and (max-width: 0em) {
    .grid {
        padding: 0;
    }
    .grid li {
        width: 100%;
        min-width: 100px;
    }
}

.cs-style-4 li {
    perspective: 1700px;
    perspective-origin: 0 50%;
}

.cs-style-4 figure {
    transform-style: preserve-3d;
}

.cs-style-4 figure > div {
    overflow: hidden;
}

.cs-style-4 figure img {
    transition: transform 1s;

}
 
.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
/* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
  -webkit-transition-duration: 1800ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-duration: 1800ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.20, 1.20);
  -ms-transition-duration: 1800ms;
  -ms-transition-timing-function: ease-out;

}

.cs-style-4 figcaption {
    height: 100%;
    width: 50%;
    opacity: 0;
	color: #FFFFFF;
	font-weight: lighter;
    backface-visibility: hidden;
    transform-origin: 0 0;
    transform: rotateY(-90deg);
    transition: transform 0.7s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
    opacity: 1;
    transform: rotateY(0deg);
    transition: transform 0.7s, opacity 0.1s;
}

.cs-style-4 figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}


/*  About Page styling   -------------------------------------------------------------------------------------------------------------------------ABOUT PAGE STYLING  */

div#aboutness {
width:100vw;
background-color: #FFFFFF;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat; 
background-attachment: relative;
overflow:hidden;
}

h3 {
   font-size: 200%; 
   text-align: center; 
   width: 100%; 
   padding-top: 1em;
   font-family: Raleway-ExtraLight;
   font-weight: lighter;
   background-color: #FFFFFF;
    font-color: #333333;

}

div# aboutcontent {
   float: right; 
   width: 50vw; 
   margin-top: 4em; 
   margin-right: 4em;"

}

p.aboutcontent {
    padding-top: 4em;
    padding-right: 4em;
    width: 50%;
    color: #333333;
	float: right;
	display: inline;
	font-family:Raleway-ExtraLight;

}

/* Footer ----------------------------------------------------------------------------------------------------------------------------------------------- Footer */

div#footer {

height:40vh;
width: 100vw;
background-color: #474747;
font-family: Raleway-ExtraLight;
font-weight: lighter;
color: #FFFFFF;
position: absolute;
z-index: 1;

}

div#footer span {

font-size: 70%;
}

h5 {
color: #FFFFFF;
font-family: Raleway-ExtraLight;
font-weight: lighter;
text-align: center;
}


img.metabuttons {

margin-top: 1vh;
padding-left: 1em;
max-width: 10%;
max-height: 10%;
}
