* {
  margin: 0;
  padding: 0;
}


body {
background-image: url(coming_soon.jpg);

-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
background-attachment: fixed;
}

h1 {  
font-weight:bold;
color: #FFFFFF;
text-align: center;
font-size: 400%;

}

h2 {
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    font-size: 300%;
}