html{
    background:url(background_6.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}


div.textBox_1
{
    width:170px;
    height:56px;
    background-color:#ffffff;
    opacity:0.8;
    box-shadow: 5px 5px 3px #000000;
    border-radius: 25px;
    border: 2px solid black;
    padding-left: 1em;
    

}

div.textBox_2:hover
{
    width:100px;
    height:200px;
    background-color:#775134;
    border:0px;
    opacity:0.9;
}

div.textBox_2
{    width:500px;
    height:200px;
    background-color:#775134;
    border:0px;
    opacity:0.9;

}
