* {
  margin: 0;
  padding: 0;
}

body {
background-image: url(background1.jpg);

-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
background-attachment: fixed;
}

h1 { 
font-family: "Josefin slab"; font-weight: 400; color: #3F3F3F;

}

ul.vert{text-align: right; padding-right: 20em;list-style-type:none;display:block;
font:bold 16px "Josefine slab";line-height:200%;
width:300px;}

ul.vert li{text-align: right; padding-right: 20em; background-color: rgba(255,255,255,0.1); border-top:10px;
border-bottom:10px;}

ul.vert li a{display:block;text-decoration:none;background-color: rgba(255,255,255,0.1);
padding:0 0 0 20px;width:300px;}
