* {
  margin: 0;
  padding: 0;
}

@font-face {
font-family: F25_Executive;
src: url("F25_Executive.otf") format("opentype");
}

body {
background-image: url(background1.jpg);

-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
background-attachment: fixed;
}

h1 { 
font-family: "F25_Executive"; font-weight: 400; color: #3F3F3F;

}

ul.vert {
font-family: "F25_Executive"; font-weight:400; color: #3f3f3f; text-align:right; padding-right: 6em; font-size: 160%; text-decoration: none;

}

.vert a {
    color: #3F3F3F;
    text-decoration: none;
}

